/* Loading screen styles */
.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-loading .lds-pacman {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.app-loading .lds-pacman > div:first-child div {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 32px;
  height: 16px;
  background: #3e8acc;
  border-radius: 32px 32px 0 0;
}

.app-loading .lds-pacman > div:first-child div:nth-child(2) {
  animation: lds-pacman-1 0.4s infinite;
}

.app-loading .lds-pacman > div:first-child div:nth-child(3) {
  transform: rotate(180deg);
  border-radius: 0 0 32px 32px;
  animation: lds-pacman-2 0.4s infinite;
}

.app-loading .lds-pacman > div:nth-child(2) div {
  position: absolute;
  left: 64px;
  top: 36px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f89b30;
  animation: lds-pacman-3 0.4s infinite linear;
}

.app-loading .lds-pacman > div:nth-child(2) div:nth-child(2) {
  animation-delay: -0.1333333333s;
}

.app-loading .lds-pacman > div:nth-child(2) div:nth-child(3) {
  animation-delay: -0.2666666666s;
}

@keyframes lds-pacman-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

@keyframes lds-pacman-2 {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
}

@keyframes lds-pacman-3 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0;
  }
}
